<div class="col-6 bg-dark shadow review" data-text="{{review.text}}">
    <div class="star-rating">
        {{{generateStarRating review.rating}}}
        <div class="votes">
            <span class="fa fa-xl fa-thumbs-up"></span>
            {{review.votes}}
            <span class="fa fa-xl fa-thumbs-down"></span>
        </div>
    </div>
    <h3 class="fw-bold fs-4">
        <a class="block-link review-title" href="review?id={{review._id}}">
            {{review.title}}
        </a>
    </h3>
    <div class="">
        <p>
            {{truncateWords review.text 7}}
        </p>
    </div>
    {{>review-author-data review=review user=user}}
</div>
