<div id="reviews" class="d-flex flex-wrap">
    <a href="profile?user={{user._id}}">
        {{#if user.avatar}}
        <img class="avatar me-2" src="/img/avatar/{{user.avatar}}" alt="{{user.username}}">
        {{else}}
        <img class="avatar me-2" src="/img/avatar/guest.png" alt="{{user.username}}">
        {{/if}}
    </a>
    <div class="author-date">
        <p class="fw-bold reviewer-name">
            <a class="block-link" href="profile?user={{user._id}}">
                {{user.username}}
            </a>
            &mdash;
            <a class="block-link" href="reviews?game={{review.game}}">
                {{review.game}}
            </a>

        </p>
        <p class="fst-italic review-date">
            {{formatDate review.post_date}}
            {{#if (dateEquals review.post_date review.edit_date)}}
            {{!-- Nothing --}}
            {{else}}
                | edited {{formatDate review.edit_date}}
            {{/if}}
        </p>
    </div>
</div>