<div id="reviews" class="d-flex flex-wrap">
    <a href="profile?user={{user._id}}">
        <img class="avatar me-2" src="{{defaultAvatar user.avatar}}" alt="{{user.username}}">
    </a>
    <div class="author-date">
        <p class="fw-bold reviewer-name">
            <a class="block-link" href="profile?user={{user._id}}">
                {{user.username}}
            </a>
            &mdash;
            <a class="block-link" href="reviews?game={{review.game}}">
                {{review.game}}
            </a>

        </p>
        <p class="fst-italic review-date">
            {{formatDate review.post_date}}
            {{#unless (dateEquals review.post_date review.edit_date)}}
                | edited {{formatDate review.edit_date}}
            {{/unless}}
        </p>
    </div>
</div>