{{log loggedUser.email}}
<div class="container">
    <img class="logo center py-5" src=img/FrogCritic.png alt="FrogCritic">
    <div class="input-group search-box mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">🔎</span>
        </div>
        <input type="text" class="form-control" placeholder="Search for a game">
        <div class="input-group-append">
            <div class="input-group">
                <span class="input-group-text">Order by</span>
                <select class="form-select">
                    <option selected value="1">Rating</option>
                    <option value="2">Title</option>
                    <option value="3">Developer</option>
                    <option value="4">Review Count</option>
                </select>
            </div>
        </div>
    </div>
    <div id="game-entries" class="container mx-auto d-flex flex-wrap">
        {{log}}
        {{log "# Games"}}
        {{log}}
        {{#each games}}
        {{log "*" title}}
        <div class="index-game-entry col shadow">
            <a class="index-game-cover-container shadow" href="reviews?game={{title}}">
                <img class="index-game-cover d-block mx-auto my-auto" src="img/cover/{{cover}}">
            </a>
            <div class="mx-4 my-4">
                <h2 class="fs-4 fw-bold"><a class="block-link" href="reviews?game={{title}}">
                        {{title}}
                    </a></h2>
                <div class="star-rating">
                    {{{generateStarRating rating false}}}
                </div>
                <p class="fst-italic">
                    {{developer}}, {{formatDate release_date}}
                </p>
                <p>
                    {{{truncateWords description 20}}}
                </p>
                <p class="fst-italic">
                    Source:
                    <a class="block-link" href="{{source.link}}">
                        {{source.name}}
                    </a>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>