{{log loggedUser.email}}
<div class="container">
    <img class="logo center py-5" src=img/FrogCritic.png alt="FrogCritic">
    <div class="search-box input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">🔎</span>
        </div>
        <input id="search-text" type="text" class="form-control" placeholder="Super Mario Bros." oninput="filterGames()" autocomplete="off">
        <div class="input-group-append">
            <div class="input-group">
                <span class="input-group-text">where Average Rating ≥</span>
                <select id="filter-select" class="form-select" onchange="filterGames()">
                    <option selected value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="input-group-append">
            <div class="input-group">
                <span class="input-group-text">Order by</span>
                <select id="order-type-select" class="form-select" onchange="sortGames()">
                    <option selected value="1">Average Rating</option>
                    <option value="2">Title</option>
                    <option value="3">Developer</option>
                    <option value="4">Release Date</option>
                    <option value="5">Review Count</option>
                </select>
            </div>
        </div>
        <div class="input-group-append">
            <div class="input-group">
                <select id="order-arrangement-select" class="form-select" onchange="sortGames()">
                    <option selected value="1">Ascending</option>
                    <option value="2">Descending</option>
                </select>
            </div>
        </div>
        <div class="px-2 py-2 input-group-append">
            Recommend A Game!
            <span class="fa-solid fa-gamepad clickable" onclick="window.open('https://forms.gle/Dkj8X19CBv2FWL7r5')"></span>
        </div>
    </div>
    <div id="game-entries" class="container mx-auto d-flex flex-wrap">
        {{!-- {{log}}
        {{log "# Games"}}
        {{log}} --}}
        {{#each games}}
        {{!-- {{log "*" title}} --}}
        <div class="index-game-entry col shadow" data-title="{{title}}" data-rating="{{getAverageStarRating title}}"
            data-developer="{{developer}}" data-release-date="{{getTime release_date}}"
            data-review-count="{{getReviewCount title}}">

            <a class="index-game-cover-container shadow" href="reviews?game={{title}}">
                <img class="index-game-cover d-block mx-auto my-auto" src="img/cover/{{cover}}">
            </a>
            <div class="mx-4 my-4">
                <h2 class="fs-4 fw-bold"><a class="block-link" href="reviews?game={{title}}">
                        {{title}}
                    </a></h2>
                <div class="star-rating" title="Average Rating {{getAverageStarRating title}}">
                    {{{generateStarRating (getRoundedAverageStarRating title)}}} ({{getAverageStarRating title}}/5, {{getReviewCountFormatted title}})
                </div>
                <p class="fst-italic">
                    {{developer}}, {{formatDateYear release_date}}
                </p>
                <p>
                    {{{truncateWords description 20}}}
                </p>
                <p class="fst-italic">
                    Source:
                    <a class="block-link" href="{{source.link}}">
                        {{source.name}}
                    </a>
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>