<div class="container my-5 py-5 px-5">
    <div id="hero" class="bg-dark shadow d-flex flex-wrap mb-5 px-4 py-4">
        <img id="avatar" class="avatar avatar-big me-4" src="/img/avatar/{{user.avatar}}">
        <div class="profile-hero">
            <h1 id="username" class="fw-bold">{{user.username}}</h1>
            <div id="subtitle" class="fst-italic fs-2 allow-editing">{{user.subtitle}}</div>
            <div id="last-seen" class="fw-bold">
                {{#if isOnline}}
                {{user.lastSeen}}
                {{else}}
                Last seen {{user.lastSeen}}
                {{/if}}
            </div>
        </div>
    </div>

    <div id="profile-details" class="d-flex flex-wrap">
        <hgroup id="about-me" class="bg-dark shadow col-8 px-4 py-4">
            <h2 class="profile-header">About me</h2>
            <p id="description" class="allow-editing">{{user.description}}</p>
        </hgroup>
        <div id="profile-details-right" class="col-4">
            <hgroup class="bg-dark shadow px-4 py-4 mx-2 mb-2">
                <h2 class="profile-header">Favorite game</h2>
                <span id="favorite-game" class="allow-editing">{{user.favoriteGame}}</span>
            </hgroup>
            <hgroup class="bg-dark shadow px-4 py-4 mx-2 my-2">
                <h2 class="profile-header">Account age</h2>
                <span id="account-age">{{user.accountAge}}</span>
            </hgroup>
        </div>
    </div>

    <button id="edit-button" class="btn btn-light btn-outline-secondary my-2" onclick="toggleEdit()">
        Edit profile
    </button>

</div>

</div>

<div class="container">
    <h2 class="fw-bold">My reviews</h2>
    <div id="reviews" class="d-flex flex-wrap"></div>
</div>