{{> upload-image image-type="profile"}}

{{log}}
{{log "##" user.username "-" user.subtitle}}
{{log}}
<div class="container my-5 py-5 px-5">
    <div id="hero" class="bg-dark shadow d-flex flex-wrap px-4 py-4">
        <img id="avatar" class="avatar avatar-big me-4" src="{{defaultAvatar user.avatar}}">
        <div class="profile-hero">
            <h1 id="username" class="fw-bold allow-editing">{{user.username}}</h1>
            <div id="subtitle" class="fst-italic fs-2 allow-editing">{{user.subtitle}}</div>
            <div id="last-seen" class="fw-bold">
                {{#if (isNow user.lastSeen)}}
                    Online
                {{else}}
                Last seen {{formatDate user.lastSeen}}
                {{/if}}
            </div>
        </div>
    </div>

    <div id="profile-details" class="d-flex flex-wrap mt-2">
        <hgroup id="about-me" class="bg-dark shadow col-8 px-4 py-4">
            <h2 class="profile-header">About me</h2>
            <div id="description" class="w-100 h-75 allow-editing">{{user.description}}</div>
        </hgroup>
        <div id="profile-details-right" class="col-4">
            <hgroup class="bg-dark shadow px-4 py-4 mx-2 mb-2">
                <h2 class="profile-header">Favorite game</h2>
                <div id="favorite-game" class="w-100 h-75 allow-editing">{{user.favoriteGame}}</div>
            </hgroup>
            <hgroup class="bg-dark shadow px-4 py-4 mx-2 my-2">
                <h2 class="profile-header">Account age</h2>
                <span id="account-age">{{accountAge user.accountCreateDate}}</span>
            </hgroup>
        </div>
    </div>

    {{#if (equals loggedUser.email user.email)}}
        <div class="my-2">
            <button id="edit-button" class="btn btn-primary" onclick="editContent()">
                Edit
            </button>
            <button id="change-profile-button" class="btn btn-primary img-upld-btn" data-bs-toggle="modal" data-image-type="profile"
            data-bs-target="#profile-modal" style="display: none;">
                Change profile picture
            </button>
            <button id="delete-button" class="btn btn-danger" disabled>
                Delete
            </button>
        </div>
    {{else}}
    {{/if}}
</div>

<div class="container">
    <h2 class="fw-bold">{{user.username}}'s reviews</h2>
    {{> search-review}}
    <div id="reviews" class="d-flex flex-wrap">
        {{log "### Reviews by" user.username}}
        {{log}}
        {{#if reviews}}
        {{#each reviews}}
        {{> review-entry review=this user=../user}}
        {{/each}}
        {{else}}
        <p class="bg-dark shadow py-4 px-4">No reviews yet!</p>
        {{/if}}
    </div>
</div>