<div class="container pt-5 col-8">
    <div class="mt-2 bg-dark shadow px-4 py-4">
        <div id="star-rating" class="star-rating pt-2">
            {{{generateStarRating review.rating}}}
            <div class="votes">
                <span class=" {{#if upvote}}voted{{/if}} fa fa-xl fa-thumbs-up clickable"
                    onclick="upvote('{{review._id}}')"></span>
                <span id="upvotes">{{voteCount}}</span>
                <span class=" {{#if downvote}}voted{{/if}} fa fa-xl fa-thumbs-down clickable"
                    onclick="downvote('{{review._id}}')"></span>
            </div>
        </div>

        <h1 id="title" class="allow-editing w-100 h-75 fw-bold fs-2 mb-2">{{review.title}}</h1>
        <div id="text" class="allow-editing w-100 h-75 mb-2">
            {{review.text}}
        </div>

        {{#if review.attachment}}
        <button class="btn btn-primary mb-2" data-bs-toggle="collapse" data-bs-target="#attachment-container">
            Toggle attachment
        </button>
        <div id="attachment-container" class="collapse">
            {{#if (equals review.attachment.type "image")}}
            <img id="attachment" class="attachment attachment-img my-4"
                src="/img/review-attachment/{{review.attachment.filename}}" alt="{{review.attachment.filename}}">
            {{/if}}
            {{#if (equals review.attachment.type "video")}}
            <video id="attachment" class="attachment attachment-video my-4" controls>
                <source src="img/review-attachment/{{review.attachment.filename}}">
            </video>
            {{/if}}
        </div>
        {{else}}
        <p class="mb-2">
            (No attachment.)
        </p>
        {{/if}}

        {{> review-author-data review=review user=user}}

    </div>


    <div class="mt-4 bg-dark shadow px-4 py-4">
        <h2 class="fw-bold fs-2">Developer Response</h2>
        {{#if (equals game.dev_email loggedUser.email)}}
        <div class="my-2">

            <button id="dev-review" class="btn btn-primary img-upld-btn" data-image-type="wallpaper"
                data-bs-toggle="modal" data-bs-target="#leave-response">
                Leave Developer Response
            </button>

        </div>
        {{/if}}

        <div id="developer-response" class="allow-editing">
            {{#if review.developer_response.text}}
            <p>
                {{review.developer_response.text}}
            </p>
            <p>
                Replied {{formatDate review.developer_response.post_date}}
                {{#if (equals review.developer_response.post_date review.developer_response.edit_date)}}
                {{!-- nothing --}}
                {{else}}
                (edited {{formatDate review.developer_response.edit_date}})
                {{/if}}
            </p>
            {{else}}
            (No response.)
            {{/if}}
        </div>

    </div>
    {{#if (equals loggedUser.email user.email)}}
    <div class="mt-2 py-2">
        <form method="post" action="/delete-review">
            <input name="reviewId" id="reviewId" value="{{review._id}}" hidden>
            <a id="edit-button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#leave-review">
                Edit
            </a>
            <button id="delete-button" type="submit" class="btn btn-danger">
                Delete
            </button>
        </form>
    </div>
    {{else}}
    {{/if}}
</div>