{{log game.title}}
<div id="game-info-container" class="bg-game" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgb(31, 25, 38)), url('/img/back/{{game.file}}.png');">

    <div class="container d-flex flex-wrap flex-lg-nowrap pt-5 pb-5">
        <img id="game-cover" class="individual-game-cover" src="img/cover/{{game.file}}.png" alt="{{game.title}}">
        <div class="game-description col-lg-6">
            <h1 id="game-title" class="fw-bold allow-editing">{{game.title}}</h1>
            <p id="game-developer-date" class="fst-italic">
                <span id="game-developer" class="allow-editing">{{game.developer}}</span>,
                <span id="game-release-date" class="allow-editing">{{game.release_date}}</span>
            </p>
            <div id="star-rating" class="star-rating">
                {{{generateStarRating game.rating}}}
            </div>
            <p id="game-description-text" class="allow-editing">
                {{game.description}}
            </p>
            <div class="leave-rating">
                <h2 class="fw-bold fs-2">Have you played this game before?</h2>
                <button class="btn btn-primary">Leave a review</button>
            </div>
            <div class="my-2">
                <button id="edit-button" class="btn btn-primary" onclick="toggleEdit()">
                    Edit
                </button>
                <button id="delete-button" class="btn btn-danger" disabled>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="fw-bold">Latest reviews</h2>
    <div class="d-flex flex-wrap">
        {{#each reviews}}
        {{> review-entry review=this user=(findUser username)}}
        {{/each}}
    </div>

</div>