<div class="container">
    <h1 class="center pt-5">Users</h1>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>Last seen</th>
                <th>Account age</th>
            </tr>
        </thead>
        <tbody id="users-table" class="table-group-divider clickable-table-rows">
            {{#each users}}
            {{#if (isNow lastSeen)}}
            <tr class="table-success" onclick="window.location.href='profile?user={{_id}}'">
                {{else}}
            <tr onclick="window.location.href='profile?user={{_id}}'">
                {{/if}}
                <td><img src="{{defaultAvatar avatar}}" alt="Avatar" class="avatar"></td>
                <td>{{username}}</td>
                {{#if (isNow lastSeen)}}
                    <td>Today</td>
                {{else}}
                    <td>{{formatDate lastSeen}}</td>
                {{/if}}
                <td>{{accountAge accountCreateDate}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>