<div class="container">
    <h1 class="center pt-5">Users</h1>
    <div class="input-group search-box mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">🔎</span>
        </div>
        <input type="text" class="form-control" placeholder="Search for a user">
        <div class="input-group-append">
            <div class="input-group">
                <span class="input-group-text">Order by</span>
                <select class="form-select">
                    <option selected>Nothing</option>
                    <option value="1">Username</option>
                    <option value="2">Last Seen Date</option>
                    <option value="3">Account Age</option>
                </select>
            </div>
        </div>
    </div>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Username</th>
                <th>Last seen</th>
                <th>Account age</th>
            </tr>
        </thead>
        <tbody id="users-table" class="table-group-divider clickable-table-rows">
            {{log}}
            {{log "## Users"}}
            {{log}}
            {{log "|" (pad "Username" 20) "|" (pad "Last Seen" 32) "|" (pad "Account Age" 20) "|"}}
            {{log "| -------------------- | -------------------------------- | -------------------- |" }}
            {{#each users}}
            {{log "|" (pad username 20) "|" (pad lastSeen 32) "|" (pad accountAge 20) "|"}}
            {{#if (equals lastSeen "Online")}}
            <tr class="table-success" onclick="window.location.href='profile?user={{username}}'">
                {{else}}
            <tr onclick="window.location.href='profile?user={{username}}'">
                {{/if}}
                <td><img src="/img/avatar/{{avatar}}" alt="Avatar" class="avatar"></td>
                <td>{{username}}</td>
                <td>{{lastSeen}}</td>
                <td>{{accountAge}}</td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</div>